body {
    font-family: 'Montserrat';
}



.table_data {
    display: flex;
    align-items: center;
    height: 40px;
}



.corr_table_data {
    text-align: center;
    cursor: pointer;
}



.corr_table_head {
    text-align: center;
}



.corr_title {
    font-weight: 800;
}



.blue {color: blue;}
.red  {color: red;}